@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

:root {
  --font-playfair: "Playfair Display", serif;
  --font-lato: "Lato", sans-serif;
}

.font-heading {
  font-family: var(--font-playfair);
}

.font-body {
  font-family: var(--font-lato);
}
